*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
body{
    width: 100%;
    height: 1400px;
    margin: 0 auto;
}
/*页眉*/
header{
    width: 100%;
    height: 300px;    
    background-color: white;
}
/*底部阴影*/
.shadow{
    width:100%;
    height:50px;
    box-shadow: 0px 2px 5px grey;
}
.head{
       width: 1235px;
       height: 50px;
       position: relative;
       margin: 0 auto;  
       text-align: center;   
}
.logo_1{
     position: absolute;
     left: 60px;
     vertical-align: middle;
     top:10px;
}
/*搜索栏*/
header form{
    position: relative;
    width:20%;
    text-align: center;
    height: 30px;
    margin-left:900px;
    float: none;
    top:8px;
    border: 2px solid grey;
    border-radius:15px;
}
.text_1{
    width:200px;
    float: none;
    height:25px;
    margin-top: 0px;
    margin-right: 20px; 
    border:0;
    outline: none;
    padding-left: 5px;
}
.submit_1{
    position: absolute;
    right:8px;
    top:3px;
    float: right;
    width:20px;
    border:0;
}
.submit_1:hover{
    outline: none;
}
.banner{
    overflow: hidden;
    width: 1519px;
    height: 250px;
    margin: 0 auto;
    background-color: rgb(244,244,244);
    position: relative;
    
}
.contain{
    position: absolute;
    width: 4557px;
    height: 250px;  
    transition: 1s;
}
.contain img{
    transition: 2.5s;
    width: 1519px;
    height: 250px;
    float: left;  
}
.banner ul{
    position: absolute;
    right: 47%;
    bottom: 0;
    transition: 2s;
}
.banner li{
    display: inline-block;
    width: 15px;
    margin: 0 5px 0 5px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(77,73,71);
}
.banner a{
    padding: 10px;
}
/*主体部分*/
.content{
    width: 1105px;
    margin: 0 auto;
}
.content_1{
    width: 1105px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 750px;
}
.nav_1{
    width: 1020px;
    margin: 0 auto;
    height: 50px;
}
.nav_1 ul{
    padding: 15px 0px;
    position: absolute;
}
.nav_1 li{
    display: inline-block;
    margin-right: 10px;
}
.nav_1 a{
    text-decoration: none;
    color: black;
}
.nav_1 span{
    color: grey;
}
.nav_1 a:hover{
    color: rgb(235,161,85);
}
hr{
    position: relative;
    bottom: -50px;
    opacity: 0.5;
    width: 100%;
}
.book_top{
    display: flex;
    width: 19%;
    height: auto;
    padding: 30px;
    position: relative;
    flex-direction: column-reverse;
}
.book_bottom{
    display: flex;
    width: 19%;
    height: auto;
    padding: 30px;
    margin-top: 50px;
    position: relative;
    flex-direction: column-reverse;
}

.content_1 ul{
    margin-top: 30px;
    width:78%;
    list-style-type: none;
    position: absolute;
    text-align: center;
}
.content_1 li{
    display: inline-block;
    padding:0 5px;
}
#name{
    position: absolute;
    margin-top: 95px;
    width:78%;
    height:auto;
    text-align: center;
}
.book{
    width:100%;
}
.btn{
    position: relative;
    top: 100px;
    text-align: center;
    display: table;
    width: 50px;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list{
    margin-bottom: 10px;

}
.list ul{
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style-type: none;
}
.list li{
    width: 20px;
    height: 20px;
    border-radius: 15px;
    display: inline-block;
}
.list li:hover{
    background-color: black;
}
.list a:hover{
    color: white;
}
.list a{
    padding: 5px;
    text-decoration: none;
    color: black;
}
span{
    margin: 0 auto;
}